<h2 class="section"><i class="icon icon-group"></i>Bands</h2>
<ul class="icons-ul">
  <% object[:bands].each do |e| %>
  <li>
    <%= icon "check icon-li" %>
    <%= link_to e.name, band_path(e.page) %>
  </li>
  <% end %>
</ul>