<h2 class="section"><i class="icon icon-group"></i>Bands</h2>
<ul class="icons-ul">
  <% object[:bands].each do |e| %>
  <li>
    <%= icon "check icon-li" %>
    <%= link_to e.name, band_path(e.page) %>
  </li>
  <% end %>
  <li><i class="icon-li icon icon-check"></i>Band #2 (2010 - *): Bass</li>
  <li><i class="icon-li icon icon-unchecked"></i>Band #3 (2007 - 2010): Vocal + Electric guitar</li>
</ul>