<h2 class="section"><i class="icon icon-music"></i>Favourite genres</h2>
<ul class="icons-ul">
  <li><i class="icon-li icon icon-check"></i>Rock</li>
  <li><i class="icon-li icon icon-check"></i>Alternative Rock</li>
  <li><i class="icon-li icon icon-check"></i>Metal</li>
  <li><i class="icon-li icon icon-check"></i>Heavy metal</li>
</ul>