<h2 class="section"><i class="icon icon-microphone"></i>Instruments &amp; Roles
  &#xf194;</h2>
<ul class="icons-ul">
  <li><i class="icon-li icon icon-check"></i>Classical guitar</li>
  <li><i class="icon-li icon icon-check"></i>Electric guitar</li>
  <li><i class="icon-li icon icon-check"></i>Bass</li>
  <li><i class="icon-li icon icon-check"></i>Vocal</li>
</ul>