<h1>Artist's Bands</h1>
<div class="container">
	<div class="row">
		<div class="span10 offset1">
			<% if @bands.count > 0 then %>
				<ul>
					<% for band in @bands do %>
						<li>
							<%= link_to band.name,
											controller: :bands,
											action: :show,
											id: band.page %>
						</li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>
</div>