<div class="container cover">
	<h1>cover</h1>
</div>
<div class="container artist-profile">
	<div class="row">
		<div class="span12">
			<%= render 'profile_info' %>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<%= render 'bands_list', object: { bands: @artist.bands } %>
		</div>
	</div>
	<div class="row">
		<div class="span12">
		</div>
	</div>
	<div class="row">
		<div class="span12">
		</div>
	</div>
</div>