<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <h3>Select new profile picture</h3>
      <% @pictures.each do |e| %>
        <%= link_to (image_tag e.picture.url(:thumb), alt: e.title, class: "picture2"),
         change_profile_picture_path(e) %>
      <% end %>
    </div>
  </div>
</div>