<div class="row">
	<div class="span8 offset2">
		<h1>Recent posts</h1>
		<%= render 'new_post', object: { post: @post, small: false } %>
		<% @recent.each do |e| %>
			<%= render 'post', object: { post: e, small: false } %>
		<% end %>
	</div>
</div>