body {
	background-color: #EEE;
	font-family: 'FontAwesome'
}

.footer {
	background-color: #252525;
	color: #999999;
	height: 200px;
}

.panel {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-bottom: 20px;
	background-color: #FFF;
}

.btn-submit {
	display: block;
	font-family: 'FontAwesome'
}